{% extends "template.twig" %}

{% block title %}Releases of "{{ package.name }}" - PHP.Package.Health{% endblock %}

{% block description %}List of {{ tagged | length }} tagged releases and {{  develop | length }} development branches of package {{ package.name }}{% endblock %}

{% block hero_type %}is-info{% endblock %}

{% block hero_title %}Keep your dependencies up-to-date{% endblock %}

{% block hero_subtitle %}Package.Health uses semantic versioning to detect outdated or insecure dependencies in your project's <code>composer.json</code>.{% endblock %}

{% block content %}
  <h2 class="title is-3">Releases of {{ package.name }}</h2>
  <div class="columns">
    <div class="column">
      {% if tagged | length == 0 %}
        <h3 class="title is-4">Tagged</h3>
        <p class="subtitle is-5">No tagged releases.</p>
      {% else %}
        <h3 class="title is-4">Tagged ({{ tagged | length }} releases)</h3>
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th>Version</th>
              <th class="has-text-right">Release date</th>
            </tr>
          </thead>
          <tbody>
            {% for version in tagged %}
              <tr>
                <td><a href="{{ url_for('viewPackageVersion', {vendor: package.vendor, project: package.project, version: version.number}) }}">{{ version.number }}</a></td>
                <td class="has-text-right">{{ version.createdAt | date('d-m-Y') }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="column">
      {% if develop | length == 0 %}
        <h3 class="title is-4">Development</h3>
        <p class="subtitle is-5">No development branches.</p>
      {% else %}
        <h3 class="title is-4">Development ({{ develop | length }} branches)</h3>
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th>Name</th>
              <th class="has-text-right">Creation date</th>
            </tr>
          </thead>
          <tbody>
            {% for version in develop %}
              <tr>
                <td><a href="{{ url_for('viewPackageVersion', {vendor: package.vendor, project: package.project, version: version.number}) }}">{{ version.number }}</a></td>
                <td class="has-text-right">{{ version.createdAt | date('d-m-Y') }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
